.rp-ranklist {
  height: 30%;
}

.rp-content {
  display: flex;
  justify-content: space-between;
  height: 60%;
  border-radius: 20px;
  overflow: hidden;
}

.history {
  width: 65%;
}

.music-play {
  width: 30%;
}