.logo {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.logoImg {
  margin-right: 10px;
}

.logoText {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #2E3271;
}