.content {
  width: 100vw;
  height: 100vh;

  display: flex;
}

.leftPane {
  width: 20%;
  border-right: 1px solid rgba($color: #F36921, $alpha: 0.35);
}

.rightPane {
  width: 80%;
  background-color: #ECF2FD;
}
